body{
    margin: 0;
    background: url(../img/bg.jpg) repeat-y;
    font-family: "Microsoft YaHei";
    overflow-x: hidden;
}

*{
    margin: 0;
    padding:0;
}
a,p{
    text-decoration: none;
    color: #fff;
}
.lf{
    float: left;
}

.rg{
    float: right;
}

ul{
    list-style: none;
}

#head{
    height: 150px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#head>a.top-log{
    /*line-height: 150px;*/
    display: block;
    width: 75%;
    margin-left: 85px;
}
#head>a.top-log>img{
    margin-top: 35px;
    margin-left: 20px;
    width:70%;
}
#head>img{
    margin-top: 30px;
}
/*固定导航样式*/
#top{
    position: relative;
    top:0;
    right: 0;
    left: 0;
    bottom:0;
}
#bar-nav{
    position: fixed;
    bottom: 0;
    right:20px;
    z-index: 3;
}
#bar-nav ul{
    width:72px;
    /*height:390px;*/
}
#bar-nav ul li{
    position: relative;
    width:72px;
    height:73px;
    margin-bottom: 1px;
    text-align: center;
    cursor: pointer;
}
#bar-nav ul li a{
    position: absolute;
    bottom: 0;
    left: 0;
    width:72px;
    height:73px;
    vertical-align: bottom;
}
#bar-nav ul li:nth-child(1){
    background: url("../img/gddh/r_lx.png") 0px 0px no-repeat;
    background-color: #ff5959;
}
#bar-nav ul li:nth-child(2){
    background: url("../img/gddh/r_qq.png") 0px 0px no-repeat;
    background-color: #6da9de;
}
.wx{
    position: absolute;
    left: -130px;
    top: 0;
    width: 160px;
    height: 160px;
    display: none;
}
#bar-nav ul li:nth-child(3):hover div.wx{
    display: inline-block;
}
#bar-nav ul li:nth-child(3){
    background: url("../img/gddh/r_wx.png") 0px 0px no-repeat;
    background-color: #78c340;
}
#bar-nav ul li:nth-child(4){
    background: url("../img/gddh/r_phone.png") 0px 0px no-repeat;
    background-color: #fbb01f;
}
.phx{
    position: absolute;
    height:73px;
    background-color: #ff811b;
    width: 160px;
    left: -160px;
    top: 0px;
    line-height: 73px;
    color: #FFF;
    font-size: 18px;
    text-align: center;
    opacity: 0;
    display: none;
}
#bar-nav ul li:nth-child(4):hover div.phx{
    opacity: 1;
    display: inline-block;
}
/*#bar-nav ul li:nth-child(5){*/
    /*background: url("../img/gddh/r_top.png") 0px 0px no-repeat;*/
    /*background-color: #666666;*/
/*}*/


/*导航样式*/
#dh{
    font-family: ydd;
    /*height:74px;*/
    width:auto;
    font-size:19px;
    background: url(../img/dhbg.jpg) repeat-x;
    max-height: 74px;
    padding: 0;

}

#dh ul {
    overflow: hidden;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    /*margin-top: 0px;*/
    list-style: none;
}
#dh ul li{
    font-weight: bold;
    font-size:20px;
    float: left;
    width:11.71%;
    /*height:74px;*/
    display: block;
    line-height: 74px;
    background: url(../img/yu.jpg) no-repeat;
    text-align: right;
    /*text-indent: 30px;*/
}
#dh ul li:hover{
    /*background-color: #3c0501;*/
    /*border-radius: 20px;*/
}
#dh ul li a{
    display: inline-block;
    width:72%;
    height:74px;
    text-align: center;
    /*background-color: #3c0501;*/
    /*border-radius: 20px;*/
}
#dh ul li a:hover{
    background-color: #3c0501;
    border-radius: 20px;
    color:#f9e301;
}
/*#dh ul li a.hover1{*/
    /*background-color: #3c0501;*/
    /*border-radius: 20px;*/
    /*color:#f9e301;*/
/*}*/

/*轮播样式*/
#lunbo{
    /*overflow: hidden;*/

    /*background: red;*/
    /*height: 100%;*/
    position: relative;
    clear: both;
}
#lunbo ul{
    position: relative;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    height:517px;
}
#lunbo ul li{
    position: absolute;
}
#lunbo ul li img{
    width:100%;
    height:517px;
}
.last,.next{
    position: absolute;
    background-color: #000;
    opacity: 0.7;
    width:65px;
    height:99px;
}
.last{
    top:36%;
    right: auto;
    left: 100px;
    background: url(../img/lunbo/left.png);
    z-index:5;
}
.next{
    top:36%;
    left: auto;
    right: 100px;
    background: url(../img/lunbo/right.png);
    z-index:5;
}
.active{
    z-index: 2;
    transition: all 2s linear;
}

.active3{
    z-index: 2;
    transition: all 2s linear;
}
/*主体内容样式*/
#mid-main{
    width:90%;
    min-width: 1000px;
    /*height:1000px;*/
    margin: 0 auto;
    /*background: yellow;*/
    overflow: hidden;
}

/*新闻样式*/
#newlist{
    width:100%;
    margin-top: 20px;
    height: 464px;
    margin-left: auto;
    margin-right: auto;
}
#newleft{
    /*overflow: hidden;*/
    width: 60%;
    height: 464px;
    /*background: #3c0401;*/
    border:3px solid #3c0401;
    opacity: 0.9;
    float: left;
    border-radius: 10px;
}
.nlb{
    width: 96%;
    height: 244px;
    margin-left: 4%;
    margin-top: 12px;
}
.newslb{
    position: relative;
    width: 48%;
    height: 241px;
    clear: both;
}
.newslb ul{
    position: relative;
    clear: both;
}
.newslb ul li{
    position: absolute;
    width: 100%;
}
.newslb img{
    display: block;
    width: 100%;
    border: 0;
    height: 241px;
}
.smlf{
    position: absolute;
    top: 42%;
    left: 0;
    z-index: 5;
    width:38px;
    height:61px;
    /*background-color: red;*/
    background: transparent url(../img/news/themes.gif) no-repeat left top;
}
.smrg{
    position: absolute;
    top:40%;
    right:0;
    z-index: 5;
    width:38px;
    height:61px;
    /*background-color: red;*/
    background: transparent url(../img/news/themes.gif) no-repeat right top;
}
/*新闻列表*/
.newslist{
    width:46%;
    height:266px;
}
.newslist>ul.one{
     height:24px;
     width:356px;
 }
.newslist>ul.one li{
    display: inline-block;
    width:110px;
    height:24px;
    line-height: 24px;
    background:#ddd;
    text-align: center;
}
.newslist>ul.one li:hover{
    background:#f9e301;
    cursor: pointer;
}
.newslist>ol.two{
    margin-top: 8px;
    list-style-position:inside;
    height:220px;
    width:356px;
}
.newslist>ol.two li{
    /*list-style-position:inside;*/
    /*list-style-type: disc;*/
    width:356px;
    height:27px;
    color:#f9e301;
    line-height: 24px;
    margin-top: 2px;
    letter-spacing: 2px;
}
.newslist>ol.two li a{
    color:#f9e301;
}
.newslist>ol.two li a:hover{
    color: #fff;
}

.qwbd{
    padding-left:4%;
}
.qw{
    padding:10px 0px 10px;
    font-size:20px;
    color:#ddd;
}
.qwbd a img{
    width: 100%;
}
/*视屏样式*/
#newright{
    width: 38.2%;
    height: 462px;
    /*background: #3c0401;*/
    border: 3px solid #3c0401;
    opacity: 0.9;
    float: right;
    border-radius: 10px;
}
.gdzx{
    position:relative;
    overflow: hidden;
    height: 358px;
    margin-top: 2%;
    margin-bottom: 20px;
}
.sszx{
    position: absolute;
    margin-left: 4%;
    padding-top: 8px;
    width:96%;
    color:#ddd;
    margin-top: 2px;
    /*list-style: none;*/
    list-style-position: inside;
    /*border: 1px solid black;*/
    cursor: pointer;
}
.sszx li{
    width: 70%;
     height:35px;
     line-height: 35px;
     color: #f9e301;
     font-size: 16px;
    margin-left: 20%;
 }
.sszx li a{
    display: block;
    width:100%;
    color:#f9e301;
}
.sszx li a:hover{
    color: #fff;
}
.sszx li>span{
    /*display: inline-block;*/
    /*list-style: none;*/
    width: 30px;
    height:30px;
    text-align: center;
    /*margin: 10px 0;*/
    border-radius: 4px;
    color: #fff;
    background-color: #ccc;
    margin-right: 15px;
}
.sszx li>span.sszx-one{
    background-color: red;
}
.sszx li>span.sszx-two{
    background-color: green;
}
.sszx li>span.sszx-three{
    background-color: yellowgreen;
}

/*产品升级*/
#cj{
    width:100%;
    height:620px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6px;
}
#cjleft{
    width:80.4%;
    height:620px;
    /*background: green;*/
}
#cjleft p{
    width:100%;
    margin-top: 5px;
    padding:10px;
    letter-spacing: 2px;
}
#cjleft img{
    width:100%;
}

#cjleft ul {

}

#cjleft ul li{
    display: inline-block;
    width:16.4%;
    margin-left:3%;
    color: #f9e301;
    vertical-align: top;
}
#cjright{
    width:19%;
    height:620px;
    /*background: green;*/
    text-align: center;
}

/*产品中心*/
#cpzx {
    width: 100%;
    height: 770px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    background: #3c0401;
    opacity: 0.9;
    border-radius: 10px;
}
.cptitle{
    overflow: hidden;
}
#barfish{
    margin-top:20px;
}
.cptit{
    width: 96%;
    height: 50px;
    border-bottom: #FFF solid 2px;
    color: #f9e301;
    font-family: ydd;
    font-size: 40px;
    margin-left:4%;
    padding-top: 8px;
    font-weight: bold;
}
.news-title{
    background-color: #3c0401;
    width: 96%;
    height: 50px;
    /*border-bottom: #FFF solid 2px;*/
    color: #f9e301;
    font-family: ydd;
    font-size: 40px;
    padding-left:4%;
    padding-top: 8px;
    font-weight: bold;
}

#kytitle{
    width:6.4%;
    heihgt:322px;
    color: #FFF;
    font-size: 40px;
    font-family: ydd;
    letter-spacing: 20px;
    margin-left: 28px;
}
#kyimg{
    text-align: center;
    width:91%;
}
.fsimg{
    display: inline-block;
    margin-right:10px;
    margin-bottom: 10px;
    cursor: pointer;
    width:22%;
}
.fsimg img{
    width:100%;
    height:155px;
}

/*特色*/
#tese{
    width: 100%;
    margin-top: 25px;
    overflow: hidden;
}
.tstitle{
    width:6.4%;;
    height: 240px;
    float: left;
    color: #FFF;
    font-size: 40px;
    font-family: ydd;
    letter-spacing: 20px;
    margin-left: 28px;
    margin-top: 40px;
}
.gdlb{
    margin-top: 40px;
    margin-left: 2.5%;
    width:88%;
    overflow: hidden;
}
.gdlb p img{
    width: 30%;
    height: 207px;
    float: left;
    margin-right: 20px;
}
/*加盟优势*/
#jiameng{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 544px;
    margin-top: 15px;
}
.j-m img{
    width: 100%;
}
#jm{
    width: 100%;
    height: 354px;
}
.jmy{
    width: 16.44%;
    margin-left: 0.4%;
    margin-right: 2.56%;
    float: left;
}
.tip{
    width: 100%;
    height: 54px;
    background: #3c0401;
    opacity: 0.9;
    color: #f9e301;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 54px;
    border-radius: 5px;
}
.content{
    width: 100%;
    height: 219px;
    border: #3c0401 2px solid;
    background: #f9e301;
    font-weight: bold;
    line-height: 30px;
    /*padding-left: 30px;*/
    /*padding-right: 25px;*/
    padding-top: 20px;
    margin-top: 20px;
    opacity: 0.7;
    border-radius: 10px;
}

/*免费领取*/
.mflq img{
    width: 100%;
}
/*友情链接*/
#fd{
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    height: 263px;
    margin-top: 15px;
}
#fdct{
    background: #3c0401;
    opacity: 0.8;
    margin-top: 16px;
    position: relative;
    height: 160px;
    border-radius: 5px;
}

#fdct ul{
    height: 28px;
   padding:10px;

}
.tap{
    cursor: pointer;
    display: inline-block;
    width: 120px;
    height: 28px;
    background: #f0dc09;
    text-align: center;
    line-height: 28px;
    margin-right: 6px;
    color: #3c0401;
    font-weight: bold;
    position: relative;
}
.hover{
    cursor: pointer;
    display: inline-block;
    width: 120px;
    height: 28px;
    background: #fff;
    text-align: center;
    line-height: 28px;
    margin-right: 6px;
    color: #3c0401;
    font-weight: bold;
    position: relative;
}

.fd-content{
    position: relative;
    top: 0px;
    border-top: none;
    width: 1180px;
    height: 100px;
    color: #f9e401;
    padding-left: 50px;
    margin-top: 10px;

}
.nr{
    position: absolute;
    display: none;
}
.fd-content a{
    color: #f9e401;
}
.dsp{
    display: inline-block;
}
/*底部导航*/
#btnav{
    /*width: 1280px;*/
    height:48px;
    background: #3c0401;
}
#btnav ul{
    overflow: hidden;
    margin: 0 auto;
    width: 960px;
    text-align: center;
}
#btnav ul li{
    float: left;
    width:112px;
    line-height: 48px;
    border-right:2px solid #ddd;
}

#foot{
    height:300px;
    background: #241919;
}
#footer{
    width:100%;
    height:274px;
    background: #241919;
    overflow: hidden;
    margin: 0 auto;
    padding-top: 26px;
}
.ftleft{
    width: 50%;
    color: #FFF;
    text-align: center;
    margin-top: 50px;
}
.ftright{
    width: 48%;
    /*float: right;*/
    color: #f9e301;
    margin-top: 30px;
}